@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.livro-card {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.livro-capa {
  width: 150px;
  border-radius: 6px;
}

.livro-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #001A38;
}

.livro-titulo {
  font-size: 1.4rem;
  color: #001A38;
}

.livro-estrelas {
  color: #dbba39;
  font-size: 1.2rem;
}

.livro-btn {
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1.5px solid #001A38;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #001A38;
    font-size: 0.9rem;
    transition: all .3s;
}

.livro-btn:hover {
  background: #001A38;
  color: #fff;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
  .livro-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .livro-capa {
    width: 200px;
  }

  .livro-info {
    align-items: center;
  }

  .livro-btn {
    justify-content: center;
  }
}

