.Main_Title_CO{

  padding-top: 110px;
  text-align: center;
  font-weight: 900;

}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  padding: 20px;
  padding-top: 110px;
  padding-bottom: 70px; 
}
.grid-container_scd {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin: 40px auto;
  width: 90%;
  padding-bottom: 200px;
  padding-top: 30px;
}
.grid-item_left{

  align-items: center;
  justify-content: center;
  display: flex;
}
.imgcad{


  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.lumi_image{
  max-width: 100%;
  max-height: 100%;



}
.Right_text_CO{
  text-align: center;
  font-weight: 900;
  display: flex;
}
.grid-item_right{

  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 90px;
}
.info-item_CO {
  background-color: #001A38;  
  color: white;       
  width: 90%;            
  max-width: 1300px;       
  margin: 30px auto;       
  padding: 10px 20px;         
  border-radius: 20px;          
  text-align: center;           
  display: flex;               
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.btn-pri {

  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.btn-scd{

  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;
} 
.btn-tdr{

  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;
}               
.first_button{
  display: flex;
  justify-content: center;
}
.second_button{
  display: flex;
  justify-content: center;
}
.third_button{
  display: flex;
  justify-content: center;
}
.btn-pri, .btn-scd, .btn-tdr {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: white;
  width: 110px;
  text-decoration: none;
  color: #001A38;
  text-align: center;
}
.btn-pri:hover, .btn-scd:hover, .btn-tdr:hover {
  background-color: #D9D9D9;
  color: #001A38;
  border: 1px solid #001A38;
  transition: 0.5s;
}
@media (max-width: 1000px) {
  .lumi_image {
    height: 250px;
    width: auto;
  }
}
@media (max-width: 700px) {
  .lumi_image {
    height: 200px;
    width: auto;
  }
}
@media (max-width: 480px) {
  .lumi_image {
    max-width: fit-content;
  }
}
@media (max-width: 410px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 410px) {
  .grid-container_scd {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 410px) {
  .grid-item_right {
    padding-left: 60px;
  }
}