

.criar-estante-container{
    background-color: rgb(245, 240, 227);
    padding-top: 1px !important;
}
.titulo-pagina {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #0a1a33;
}

.criar-estante-card {
    width: 100%;
    margin: 30px auto 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.alert {
    border-radius: 15px;
    font-size: 14px;
}

/* INPUTS */
.estante-input,
.estante-textarea,
.estante-search {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 2px solid #0a1a33;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.2s;
}



.lista-obras {
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid;
    border-radius: 15px;
    padding: 30px;
    border-color: #0a1a33 !important;
}

.lista-obras p {
    text-align: center;
    color: #999;

}


.form-check-input:checked {
    background-color: #0a1a33;
    border-color: #0a1a33;

}

.form-check-input {
    border-color: #0a1a33 !important;
    border: 2px solid;


}

.form-check {
    padding: 8px 0;
    font-size: 15px;

}

.form-control, .form-control:hover{
    background-color:rgb(245, 240, 227); ;
}


.botao-criar {
    width: 100%;
    padding: 12px 15px;
    border-radius: 25px;
    border: 2px solid #0a1a33 !important;
    cursor: pointer;
    font-weight: 600;
    color: #dbdaca !important;
    transition: 0.2s;
    background: #0a1a33  !important;

}

.botao-criar:hover {
    background: #050d1a  !important;
    color: white !important;
}

.mensagem-selecao {
    text-align: center;
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 10px;
}