.paginicial{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

h1, h3{
    color: #001A38;
    font-weight: 700;
}

.imginicial{
    width: 70%;
}

.imgcard{
    width: 90px;
}

.card{
    background-color: #EFEFEF;
    border-radius: 40px;
    border: none;
    padding: 50px;
}

.cardopicao{
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 10px;
}

.btnavaliar{
    background-color: #001A38;
    color: #EDE7DB;
    text-decoration: none;
    border-radius: 40px;
    padding: 10px;
}

.btnavaliar:hover{
    background-color: #D9D9D9;
    color: #001A38;
    border: 1px solid #001A38;
    transition: 0.5s;
}