.container-fluid{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.textobranco{color: #EDE7DB;}
.textoazul{color: #001A38;}

/* Entrar */

.entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 150px;

}

.imgpessoa{
    width: 20px;
    margin: 5px;
}

.imgsenha{
    width: 35px;
    margin: 5px;
}

.divemail{
    float: left;
    padding-top: 40px;
}

.divsenha{
    float: left;
    padding-top: 40px;
}

.input{
    border: 1px solid #001A38;
    color: #001A38;
    padding: 10px;
    background-color: white !important;
}

.inputremember{padding-top: 60px;}

.lembrarsenha{
    float: left;
    padding-top: 10px;
    margin: 2px;
}

.form-check-input:checked {
    background-color: #001A38;
    border-color: #001A38;
}

.esqueceusenha{
    padding-top: 100px; 
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    width: 100%;

}

.btnentrar{
    background-color: #001A38;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.btnentrar:hover{
    border: 1px solid #001A38;
    transition: 0.5s;
}

.criarconta{
    background-color: #001A38;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    padding: 150px;
}

.btnbranco{
    border: 1px solid #EDE7DB;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.btnbranco:hover{
    background-color: #EDE7DB;
    transition: 0.5s;
}

.textoleft{
    text-align: left;
    padding-bottom: 30px;
}

.imglogologin{
    width: 40%;
    transform: rotate(-20deg);
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.col-md-6{
    align-items: normal !important;
}


/* criar conta */

.fazerlogin{
    background-color: #001A38;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    padding: 150px;
}

.divnome{
    float: left;
    padding-top: 40px;
}

.perfil-toggle {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.btn-outline-custom {
    border: 1.5px solid #001A38; 
    color: #001A38;
    font-weight: 600;
    border-radius: 10px;
    padding: 8px 24px;
    transition: all 0.2s ease;
    width: 300px;
}

.btn-outline-custom:hover {
    background-color: #001A38;
    color: #EDE7DB;
}


.btn-check:checked + .btn-outline-custom {
    background-color: #001A38;
    color: #EDE7DB;
    border-color: #001A38;
}


.btn-outline-custom:focus {
    box-shadow: none !important;
}


.perfil-toggle .btn-outline-custom {
    text-align: center;
}


@media (max-width: 1150px){
    .divazul, .divbranca {
        padding: 100px;
    }
}

@media (max-width: 900px){
    .divazul, .divbranca{
        padding: 50px;
    }
}

@media (max-width: 768px){
    .divazul{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media (max-width: 400px){
    .perfil-toggle{
        display: grid;
    }

    .btn-outline-custom{
       max-width: 170px;
    }
}