@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #001A38;
  background: #f4f7fb;
  overflow-x: hidden;
}

/* TITULO */
.titulo-pagina {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.perfil-container {
  width: 100%;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.perfil-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.perfil-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.perfil-avatar {
  width: 70px;
  height: 70px;
  background: #d1d5db;
  border-radius: 50%;
}

.perfil-btn {
  padding: 8px 20px;
  border: 2px solid #0a1a33;
  background: #f4f7fb;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #0a1a33;
  transition: 0.2s;
  text-decoration: none;
}

.perfil-btn:hover {
  background: #0a1a33;
  color: #f4f7fb;
}

.comentarios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

@media (max-width: 600px) {
  .perfil-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .perfil-btn {
    align-self: flex-start;
  }
}
